.input_group {
  display: flex;
  border: 1px solid gray;
  border-radius: 0.75rem;
  position: relative;
}

.input_text {
  width: 100%;
  padding: 16px 24px;
  border-radius: 0.75rem;
  /* background: lightgray; */
}

/* 34:28 in video more styles about focus property, border */

/*  .button {
@apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md
@apply py-3 text-gray-50 text-lg
}
*/
/* 
.button:hover {
  @apply bg-gradient-to-r from-gray-50 to-gray-100 border-blue-500'
  @apply text-gray-700 border;
}

.button_custom {
  @apply w-full border py-3 flex justify-center gap-2 hover:bg-gray-200
} */

.input_text + * {
  color: #cbd5e1;
}

.input_text:focus + * {
  color: #6366f1;
}

.input_text:not([type='email']) ~ span:hover * {
  color: #6366f1;
  cursor: pointer;
}
